@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
}

.buttons {
    display: flex;
    overflow-x: auto;
    text-align: center;
    align-items: center;
   
}
.buttons a button {
    font-size: 10px;
    padding: 9px;
    border-radius: 2px;
    background-color: white;
    
}



tittle{
    display: flex;
    background-color: whitesmoke;
    color: black;
}

tittle img {
    height: 42px;
    width: 50px;
}
tittle spin{
    font-size: 12px;
    font-weight: bold;
    
}
section a{
    font-weight: bold;
}
.search button {
    border-radius: 28px;
    background-color: palegreen;
    padding: 12px;
    width: 100%;
    margin-top: 0;
    overflow-y: auto;
    font-size: 12px;
}



body {
    margin: 0;
    font-family: sans-serif;


}
* {
    padding: 0;
    margin: 0;
  }
  
  .fabs {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
  .action {
    background: greenyellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
  }
  
  .action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  
  .action:hover {
    background-color: rgb(255, 103, 179);
  }
  
  .btn {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  
  .btn i {
    position: absolute;
    font-size: 18px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btns {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .btns.open {
    bottom: 50px;
  }
  
main {
    
    color: greenyellow;
    background-size: cover;
    margin-bottom: 0;
}
section {
    display: flex;
    border-top: 40px;
    gap: 24px;
    text-align: center;
    
}


button {
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    place-content: center;
}
h2 {
    text-align: center;
}
hr {
    font-size: 64px;
}


h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}
.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    transition: .4s;
    background: white;


}
.content:hover {
    box-shadow: o 3px 6px black;
    transform: translate(0px,-8px);
     
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p {
    text-align: center;
    color: purple;
    padding-top: 0 8px;
 }


button {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;


}
.buy-1 {
    background-color: aqua;
}
.buy-2 {
    background-color: rgb(122, 28, 211);
}
.buy-3 {
    background-color: palevioletred;
}
.buy-4 {
    background-color: greenyellow;
}
.buy-5 {
    background-color: brown;
}
.buy-6 {
    background-color: plum;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(34, 23, 23);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: greenyellow;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/


@media (max-width: 600px) {
    h3 {
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding-top: 10px;
        font-size: 48px;
        margin: 0;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
   
}
img{
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.content {
    width: 40%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    transition: .4s;
    background: white;
}
.buttons a button {
    font-size: 14px;
    padding: 9px;
    border-radius: 2px;
    background-color: white;
    
}



}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  